<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2013-2014 Erwin Müller <erwin.mueller@deventm.org>

    This file is part of sscontrol-cli-install.

    sscontrol-cli-install is free software: you can redistribute it and/or modify it
    under the terms of the GNU Affero General Public License as published by the
    Free Software Foundation, either version 3 of the License, or (at your
    option) any later version.

    sscontrol-cli-install is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
    for more details.

    You should have received a copy of the GNU Affero General Public License
    along with sscontrol-cli-install. If not, see <http://www.gnu.org/licenses/>.

-->
<configuration scan="true">

    <appender name="ERR-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>[%level] %-4relative %logger{0} - %msg%n%rEx{short}</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="LOG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${project.custom.log.prefix}/${project.custom.app.path}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${project.custom.log.prefix}/${project.custom.app.path}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%level] %date{ISO8601} [%thread] %logger - %msg %n%xEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>


    <root level="ALL">
        <appender-ref ref="LOG-FILE" />
    </root>

    <logger name="com.anrisoftware.sscontrol" level="INFO">
        <appender-ref ref="ERR-CONSOLE" />
    </logger>

</configuration>
