<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2013 Erwin Müller <erwin.mueller@deventm.org>

    This file is part of sscontrol-cli-install.

    sscontrol-cli-install is free software: you can redistribute it and/or modify it
    under the terms of the GNU Affero General Public License as published by the
    Free Software Foundation, either version 3 of the License, or (at your
    option) any later version.

    sscontrol-cli-install is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
    for more details.

    You should have received a copy of the GNU Affero General Public License
    along with sscontrol-cli-install. If not, see <http://www.gnu.org/licenses/>.

-->
<configuration scan="true">

	<appender name="TESTING_STYLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>[%level] %-4relative [%thread] %logger{0} - %msg%n%rEx</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<appender name="FILE_DAILY"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${java.io.tmpdir}/robobee-v1.0.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%level] %date{ISO8601} [%thread] %logger - %msg %n%rEx</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

    <root level="ERROR">
		<appender-ref ref="TESTING_STYLE" />
        <appender-ref ref="FILE_DAILY" />
	</root>

    <logger name="com.anrisoftware" level="ERROR" />
    <logger name="com.anrisoftware.sscontrol" level="DEBUG" />
    <logger name="com.anrisoftware.sscontrol.profile" level="ERROR" />
    <logger name="com.anrisoftware.sscontrol.core" level="ERROR" />
    <logger name="com.anrisoftware.sscontrol.workers" level="ERROR" />
    <logger name="com.anrisoftware.sscontrol.workers.command.script" level="DEBUG" />

</configuration>
